{% extends "template_manage.html" %}
{% block content %}

<div class="card-panel blue lighten-3">


    <form action="/VYD/KmlManager/importKML" method="post" enctype="multipart/form-data">

        <div class="row">

            <div class="col s12">
                <p>
                    <input type="checkbox" id="visibility" name="visibility"/>
                    <label for="visibility">Visibility</label>
                </p>
            </div>

        </div>


        <div class="row">

            <div class="file-field input-field col s12">
                <input class="file-path validate" type="text"/>

                <div class="btn">
                    <span>File</span>
                    <input class="file-path validate" name="file" type="file" id="file"/>
                </div>
            </div>

        </div>

        <div class="row">

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </div>

        {% csrf_token %}
    </form>

</div>
{% endblock content %}