{% extends "template_manage.html" %}
{% block content %}


  <div class="collection">
      {% for kml in kmls %}

      {% if kml.visibility  %}

      <a onclick="syncData({{kml.id}})" class="collection-item  teal lighten-1 "><span class="purple-text text-lighten-5">{{kml.name}}</span>
          <span class="badge">
          <a class="waves-effect waves-light btn" href="/VYD/KmlManager/{{kml.id}}/delete">
              <i class="material-icons left"></i>Delete
          </a>
          </span>
      </a>

      {% else %}

      <a onclick="syncData({{kml.id}})" class="collection-item">{{kml.name}}
          <span class="badge">
          <a class="waves-effect waves-light btn" href="/VYD/KmlManager/{{kml.id}}/delete">
              <i class="material-icons left"></i>Delete
          </a>
          </span>
      </a>


      {% endif %}

      {% empty %}
           <li class="list-group-item">No kml something is wrong</li>
      {% endfor %}
  </div>



{% endblock content %}