{% extends "template_manage.html" %}
{% block content %}


<script>

    window.onload = firstSyncData(-1)


</script>

<ul class="collection">
    {% for kml in kmls %}

    {% if kml.visibility %}
    <li class="collection-item">
        <div class="row">
            <div class="col s2">
                <a class="btn-floating btn-large waves-effect waves-light red" href="/VYD/KmlManager/{{kml.id}}/delete"><i
                        class="material-icons">delete</i></a>
            </div>
            <div class="col s2">
                <a class="btn-floating btn-large waves-effect waves-light teal lighten-1"
                   onclick="syncData({{kml.id}})"><i class="material-icons">visibility</i></a>
            </div>
            <div class="col s8 ">
                <div class="valign-wrapper">
                    <h5 class="valign"><span class="teal-text text-darken-1">{{kml}}</span></h5>
                </div>

            </div>
        </div>
    </li>

    {% else %}

    <li class="collection-item">
        <div class="row">
            <div class="col s2">
                <a class="btn-floating btn-large waves-effect waves-light red" href="/VYD/KmlManager/{{kml.id}}/delete"><i
                        class="material-icons">delete</i></a>
            </div>
            <div class="col s2">
                <a class="btn-floating btn-large waves-effect waves-light red" onclick="syncData({{kml.id}})"><i
                        class="material-icons">visibility</i></a>
            </div>
            <div class="col s8 ">
                <div class="valign-wrapper">
                    <h5 class="valign"><span class="teal-text text-darken-1">{{kml}}</span></h5>
                </div>

            </div>
        </div>
    </li>


    {% endif %}

    {% empty %}
    <li class="list-group-item">No kml something is wrong</li>
    {% endfor %}
</ul>


{% endblock content %}