{% extends "template.html" %}
{% block content %}


<nav>
    <div class="nav-wrapper cyan darken-1 " >

        <div class="brand-logo center" >
            <span class="white-text text-darken-2"><H4 class="center-align">Create Layer</H4></span>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col s12 ">
        <div class="card  white ">
            <div class="card-content white-text">

                <span class="card-title"><span class=" teal-text text-darken-3">Submit URL </span></span>

                <p><span class=" teal-text text-darken-3">For create the layer first you want to copy the URL of the dataset that you want create Layer</span>
                </p>

                <div class="row" style="padding-top:30px">
                    <div class="col s12 grid-example ">
                            <span class="flow-text">
                                 <form method="post" enctype="multipart/form-data" action="">
                                     <div class="row">
                                         <div class="input-field col s12 center">
                                             <i class="mdi-content-link prefix"></i>
                                             <input placeholder="Insert the URL" id="url" name="url" type="text"
                                                    class="validate teal-text text-darken-3">
                                             <label for="url">URL</label>
                                         </div>
                                     </div>
                                     <div class="row right-align">
                                         <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                             <i class="mdi-content-send right"></i>
                                         </button>
                                     </div>
                                 </form>
                             </span>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


{% endblock content %}
