{% extends "template.html" %}
{% block content %}

    <nav>
        <div class="nav-wrapper light-blue darken-4 ">


            <div class="brand-logo center">
                <span class="white-text text-darken-2"><H4 class="center-align ">Select Data and Location</H4></span>
            </div>
        </div>
    </nav>


    <div class="row" >

        <form action="VYD/layers/create/selectData">



        <div class="col s6 ">
          <div class="card-panel blue lighten-5">

                    <div class=" center center-align">
                        <div class="section">
                            <h5>Select Data</h5>
                            <p>Select Data for create the layer</p>
                          </div>
                          <div class="divider"></div>
                            <span class="white-text">
                          {% for header in request.session.headers %}
                            <p>
                              <input name="data_headers_selected" type="checkbox" id="data_{{ forloop.counter }}" />
                              <label for="data_{{ forloop.counter }}">{{header}}</label>
                            </p>
                          {% empty %}
                            <li class="list-group-item">No headers something is wrong</li>
                          {% endfor %}
                            </span>
                    </div>

        </div>


        </div>
        <div class="col s6 "><p>
          <div class="card-panel blue lighten-5">

            <div class=" center center-align">
                    <div class="section">
                            <h5>Select Location</h5>
                            <p>Select Location for localize the data</p>
                          </div>
                <div class="divider"></div>
            <span class="white-text">
                  {% for header in request.session.headers %}
                    <p>
                      <input name="location_headers_selected" type="checkbox" id="location_{{ forloop.counter }}" />
                      <label for="location_{{ forloop.counter }}">{{header}}</label>
                    </p>
                  {% empty %}
                    <li class="list-group-item">No headers something is wrong</li>
                  {% endfor %}
            </span>
            </div>

        </div>

        </div>
<button class="btn waves-effect waves-light right-align" type="submit" name="action">Submit
    <i class="material-icons">send</i>
  </button>

        </form>
    </div>









{% endblock content %}