{% extends "template.html" %}
{% block content %}

    <nav>
        <div class="nav-wrapper light-blue darken-4 ">

            <div class="brand-logo center">
                <span class="white-text text-darken-2"><H4 class="center-align ">Downloading data</H4></span>
            </div>
        </div>
    </nav>

    <div class="row center center-align"  style="padding-top:10%">

        <div class="col s12 m3 l2"><p></p></div>
        <div class="col s12 m6 l8"><p>
            <div class=" center center-align">
                <div class="card-panel grey lighten-5 z-depth-1 center center-align">
                  <div class="row valign-wrapper center-align">
                    <div class="col s2">
                      <img src="http://webdraft.org/saved/w46FHVwuMC.png" height="75" width="75" alt="" class=" responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s8">
                      <span class="black-text">
                        {{ request.session.name }}

                      </span>
                    </div>
                  </div>
                    <label>Select the type of location</label>
                    <select name="type_location" form="form1" class="browser-default">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="1">Location name</option>
                      <option value="2">Coordinates</option>
                    </select>


                </div>
            </div>

    </div>

        <div class="col s12 m3 l2"><p></p></div>
        <div class="col s12">
            <form id ="form1" method="post" action="/VYD/layers/create/selectLocation">

                <button class="btn waves-effect waves-light" value="Submit" type="submit" >Continue
                     <i class="mdi-content-send right"></i>
                </button>
            </form>
        </div>

</div>


{% endblock content %}
