{% extends "template.html" %}
{% block content %}


<nav>
    <div class="nav-wrapper light-blue darken-4 ">

        <div class="brand-logo ">
            <span class="white-text text-darken-2"><H4 class="center-align">View Manager</H4></span>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col s12 m6 l6">

        <div id="intialization" class="section scrollspy">
            <div class="card-panel  indigo darken-1">
						<span class="white-text text-darken-2">

						<h5 class="center-align">Enabled Layers</h5>


						</span>

            </div>


            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>

                        Alergens

                    </div>
                    <div class="collapsible-body">

                        <ul class="collection">

                            <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
                            <a href="#!" class="collection-item">Alan<span class="badge">4</span></a>

                        </ul>


                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Second</div>
                    <div class="collapsible-body">

                        <ul class="collection">

                            <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
                            <a href="#!" class="collection-item">Alan<span class="badge">4</span></a>

                        </ul>


                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Third</div>
                    <div class="collapsible-body">
                        <ul class="collection">

                            <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
                            <a href="#!" class="collection-item">Alan<span class="badge">4</span></a>
                        </ul>

                    </div>
                </li>
            </ul>

        </div>


    </div>


    <div class="col s12 m6 l6">


        <div id="intialization" class="section scrollspy">
            <div class="card-panel  indigo darken-1">
						<span class="white-text text-darken-2">

								<h5 class="center-align">Disabled Layers</h5>
								</span>

            </div>


            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>

                        Alergens

                    </div>
                    <div class="collapsible-body">

                        <ul class="collection">

                            <a href="#!" class="collection-item">
                                Alan
										<span class="badge">1
										</span>
                            </a>
                            <a href="#!" class="collection-item">
                                Alan
										<span class="badge">
										<i class="mdi-action-delete"></i>
										</span>
                            </a>

                        </ul>


                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Second</div>
                    <div class="collapsible-body">

                        <ul class="collection">

                            <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
                            <a href="#!" class="collection-item">Alan<span class="badge">4</span></a>

                        </ul>


                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Third</div>
                    <div class="collapsible-body">
                        <ul class="collection">

                            <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
                            <a href="#!" class="collection-item">Alan<span class="badge">4</span></a>
                        </ul>

                    </div>
                </li>
            </ul>

        </div>


    </div>


    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red">
            <i class="large mdi-editor-mode-edit"></i>
        </a>
        <ul>

            <li><a class="btn-floating blue darken-1"><i class="large mdi-action-list"></i></a></li>
            <li><a class="btn-floating red"><i class="large mdi-action-delete"></i></a></li>
            <li><a class="btn-floating green"><i class="large mdi-content-add-circle"></i></a></li>
        </ul>
    </div>


</div>

{% endblock content %}