{% extends "template.html" %}
{% block content %}

    <nav>
        <div class="nav-wrapper light-blue darken-4 ">


            <div class="brand-logo center">
                <span class="white-text text-darken-2"><H4 class="center-align ">Select Data and Location</H4></span>
            </div>
        </div>
    </nav>


    <div class="row" >

        <form method="post" action="/VYD/layers/create/selectData">

        <div class="col s6 "><p>
          <div class="card-panel blue lighten-5">

            <div class=" center center-align">
                    <div class="section">
                            <h5>Select Latitude</h5>
                            <p>Select Latitude for localize the data</p>
                          </div>
                <div class="divider"></div>
            <span class="white-text">
                <input type=”hidden” name=”type_location” value=”coor”>
                <input type=”hidden” name=”data_loc” value=”None”>
                  {% for header in request.session.headers %}
                    <p>
                      <input name="location_lat" type="checkbox" id="lat_{{ forloop.counter }}" />
                      <label for="lat_{{ forloop.counter }}">{{header}}</label>
                    </p>
                  {% empty %}
                    <li class="list-group-item">No headers something is wrong</li>
                  {% endfor %}
            </span>
            </div>

        </div>
            </div>

        <div class="col s6 "><p>
          <div class="card-panel blue lighten-5">

            <div class=" center center-align">
                    <div class="section">
                            <h5>Select Longitude</h5>
                            <p>Select Longitude for localize the data</p>
                          </div>
                <div class="divider"></div>
            <span class="white-text">
                  {% for header in request.session.headers %}
                    <p>
                      <input name="location_lng" type="checkbox" id="lon_{{ forloop.counter }}" />
                      <label for="lon_{{ forloop.counter }}">{{header}}</label>
                    </p>
                  {% empty %}
                    <li class="list-group-item">No headers something is wrong</li>
                  {% endfor %}
            </span>
            </div>

        </div>

        </div>
<button class="btn waves-effect waves-light right-align" type="submit" name="action">Submit
    <i class="material-icons">send</i>
  </button>

        </form>
    </div>









{% endblock content %}