{% extends "template.html" %}
{% block content %}

    <nav>
        <div class="nav-wrapper light-blue darken-4 ">


            <div class="brand-logo center">
                <span class="white-text text-darken-2"><H4 class="center-align ">Select Data and Location</H4></span>
            </div>
        </div>
    </nav>


    <div class="row" >

        <div class="col s12 "><p>
          <div class="card-panel blue lighten-5">

            <div class=" center center-align">
                    <div class="section">
                            <h5>Select Location</h5>
                            <p>Select Location for localize the data</p>
                          </div>
                <div class="divider"></div>
                <form method="post" action="/VYD/layers/create/selectData">
                    <span class="white-text">

                    <div class="row" >
                    <div class="input-field col s6">
                        <input name="extra_location" id="extra_location" type="text" class="validate">
                        <label for="extra_location">Extra data of Location</label>
                    </div>
                    </div>
                    <div class="row" >


                          {% for header in request.session.headers %}
                            <p>
                              <input name="location_headers_selected" type="checkbox" id="{{ forloop.counter }}" value="{{ forloop.counter }}" />
                              <label for="{{ forloop.counter }}">{{header}}</label>
                            </p>
                          {% empty %}
                            <li class="list-group-item">No headers something is wrong</li>
                          {% endfor %}
                        </div>
                    </span>
                    <input type=”hidden” name=”type_location”  value=name>
                    <button class="btn waves-effect waves-light right-align" type="submit" name="action">Submit
                        <i class="material-icons">send</i>
                    </button>
                </form>
            </div>

        </div>

        </div>



    </div>

{% endblock content %}