{% extends "template.html" %}
{% block content %}

    <nav>
        <div class="nav-wrapper light-blue darken-4 ">


            <div class="brand-logo center">
                <span class="white-text text-darken-2"><H4 class="center-align ">Select Data and Location</H4></span>
            </div>
        </div>
    </nav>


    <div class="row" >


        <div >
          <div class="card-panel blue lighten-5 center center-align">
                    <div class="valign-wrapper center center-align ">
                         <div class="row ">
                                <div class="col s8 ">
                                  <div class="card">
                                    <div class="card-image">
                                      <img height="60" width="60" src="http://www.clker.com/cliparts/w/r/B/D/P/5/map-marker-small.svg">
                                      <span class="card-title ">Markers</span>
                                    </div>
                                    <div class="card-content">

                                      <p>Show your data with personalized markers</p>

                                    </div>
                                    <div class="card-action">
                                              <button onclick="location.href='/VYD/layers/create/makeMarker'" class="btn waves-effect waves-light right-align" type="submit" name="action">Select
                                                    <i class="material-icons">send</i>
                                            </button>
                                    </div>
                                  </div>
                                </div>
                         </div>
                         <div class="row">

                                <div class="col s12">
                                  <div class="card">
                                    <div class="card-image">
                                      <img height="60" width="60" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTgwd0OPzUYK2niPFYI4VrwHfHrTX3vvV2HgSJyzuMsyZHyuIvc">
                                      <span class="card-title">""</span>
                                    </div>
                                    <div class="card-content">

                                      <p>Show your data with personalized circle</p>

                                    </div>
                                    <div class="card-action">
                                              <button onclick="location.href='/VYD/layers/create/makeCircle'" class="btn waves-effect waves-light right-align" type="submit" name="action">Select
                                                    <i class="material-icons">send</i>
                                            </button>
                                    </div>
                                  </div>
                                </div>

                         </div>
                    </div>
          </div>

        </div>

    </div>









{% endblock content %}